/*
A custom Bootstrap 3.1 theme from http://bootply.com\

This CSS code should follow the 'bootstrap.css'
in your HTML file.

license: MIT
author: bootply.com
*/


html,body{
  height:100%;
}

body{
  padding-top:50px; /*padding for navbar*/
}

.navbar-custom {
  background-color: #168ccc;
  color:#fff;
}

.navbar-custom a {
  color:#fefefe;
}


#main, #main>.row {
  height:100%;
}

#main>.row {
  overflow-y:scroll;
}

#left {
  height:100%;
}

#map-canvas {
  width:25%;
  height:calc(100% - 0);
  position:absolute;
  right:16px;
  top:50px;
  bottom:0;
  overflow:hidden;
}
